<!--This is the parent component 
    I created 2 input fields that are binded to the model class Task
    This parent contains a child container that has a selector 'app-child'
    Our goal is to pass our Task object which is an attribute of parent component to child component
-->

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Parent component</h1>
        <p class="lead">I'm the parent, listen to me !!!!</p>
        <hr class="my-4">
    </div>


    <div class="container">    
        <h3 class="display-3">Create task for my child</h3>

      <form>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" [(ngModel)]="task.description" id="description" name="description" placeholder="Enter description">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" [(ngModel)]="task.location" id="location" name="location" placeholder="Enter task's location" >
        </div>
      </form>
    </div>

</div>

<!--This is the child component 
    To bind the Task object from parent to child component we need 2 things
        1) Add @Input() attribute in child component
        2) Add [task]="task" in the child directive, which means that we want to pass the task object from our parent component to its child
-->
<div class="container">
    <app-child [task]="task"></app-child>
</div>
